@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 12, 20, 70;
  --foreground-secondary: 23, 88, 115;
  --background-rgb: 245, 239, 231;
  --background-secondary: 216, 196, 182;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 245, 239, 231;
    --foreground-secondary: 216, 196, 182;
    --background-rgb: 12, 20, 70;
    --background-secondary: 23, 88, 115;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: var(--font-nunito);
  @media (min-width: theme('screens.md')) {
    font-size: larger;
  }
}

.light-title {
  color: rgb(var(--background-rgb));
  font-family: var(--font-playfair);
}

.bg-dark {
  background: rgb(var(--foreground-rgb));
}

.bg-dark-sec {
  background: rgb(var(--foreground-secondary));
}

.bg-light-sec {
  background: rgb(var(--background-secondary));
}

.light-text {
  color: rgb(var(--background-rgb));
}

h1, h2 {
  font-family: var(--font-playfair);
}

h1 {
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 12px;
  @media (min-width: theme('screens.md')) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

.avatar-wrapper {
  @media (min-width: theme('screens.md')) {
    position: absolute;
    width: 70%;
    top: 0;
    left: 0;
  }
  @media (max-width: theme('screens.md')) {
    width: 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(48%, 25%);
  }
}
